.key-strength-certified-title{
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: #e9eaee ;
}
.key-strength-certified-title h2{
    font-family: 'Sukhumvit' , sans-serif;
    font-size: 28px;
    
    color: #831522;
    border-bottom: 2px solid #831522;
  }
.key-strength-container{
    overflow: hidden;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 1s ease-in-out; /* Apply transition to opacity property */


}
.fade-in {
    opacity: 1; /* Set opacity to 1 for the fade-in effect */
  }