.Maemoh-detail{
    display: flex;
    flex-direction: row;
    
}
.Maemoh-container{
    background-color: #f5f5f5; 
    overflow: hidden;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 1s ease-in-out; /* Apply transition to opacity property */  
}
.fade-in {
    opacity: 1; /* Set opacity to 1 for the fade-in effect */
}

@media (max-width : 750px) {
    .Maemoh-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
