/* body{
  background-color:bisque
} */

/* *{
  background-color: #333;;
} */

/* *{
  background-image: url("../src/Images/bg.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
} */